@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Inter', sans-serif;
        background-color: theme('colors.background.DEFAULT');
        color: theme('colors.textPrimary.DEFAULT');
    }

    .dark body {
        background-color: theme('colors.background.dark');
        color: theme('colors.textPrimary.dark');
    }

    h1, h2, h3 {
        font-family: 'Zen Dots', cursive;
        @apply font-bold;
    }
}

@layer utilities {
    .bg-background {
        background-color: theme('colors.background.DEFAULT');
    }

    .dark .bg-background {
        background-color: theme('colors.background.dark');
    }

    .bg-surface {
        background-color: theme('colors.surface.DEFAULT');
    }

    .dark .bg-surface {
        background-color: theme('colors.surface.dark');
    }

    .text-textPrimary {
        color: theme('colors.textPrimary.DEFAULT');
    }

    .dark .text-textPrimary {
        color: theme('colors.textPrimary.dark');
    }

    .text-textMuted {
        color: theme('colors.textMuted.DEFAULT');
    }

    .dark .text-textMuted {
        color: theme('colors.textMuted.dark');
    }

    .border-border {
        border-color: theme('colors.border.DEFAULT');
    }

    .dark .border-border {
        border-color: theme('colors.border.dark');
    }
}

@layer components {
    @layer components {
        .card {
            background-color: theme('colors.surface.DEFAULT');
            color: theme('colors.textPrimary.DEFAULT');
            @apply p-4 sm:p-6 md:p-8 rounded-xl shadow-md transition;
        }
    }

    .dark .card {
        background-color: theme('colors.surface.dark');
        color: theme('colors.textPrimary.dark');
    }
}
